<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <%- include('./partials/navbar.ejs') %>

        <div id="createCommentBox">
            <div id="commentTextArea">
                <textarea 
                    id="commentTextArea"
                    placeholder="Write a comment"
                    maxlength="100"></textarea>
            </div>
            <div id="commentCreateButton" >
                <button id="commentCreateButton" >Create</button>
            </div>
        </div>
        <div id="postSummaryBox">
            <div id="postContent">
                <div id="postSummaryTitle">
                    <h2><%= post.title %></h2>
                </div>
                <br>
                <div id="postSummaryDescription">
                    <h3><%= post.description %></h3>
                </div>
                <br>
                <div id="postSummaryBody">
                    <h4><%= post.body %></h4>
                </div>
                <br>
                <div id="postSummaryDate">
                    <h5><%= post.date.toString().split('G')[0] %></h5>
                </div>
                <div id="deleteButtonContainer">
                    <button><a method="POST" id="deletePostButton"  href="/posts/forumPage" >Delete post</a></button>
                </div>
            </div>   
        </div>
        <div id="postCommentLayoutContainer">
        <div id="postCommentLayout">
            <div id="postCommentsBox">
                <div id="postCommentsBody">
                    <div id="commentBody">
                        <p>HEJ PÅ DIG LILLA HARRY</p>
                    </div>
                    <div id="commentFooter">
                        <div id="commentWriter">
                            <p>Malcolm</p>
                        </div>
                        <div id="commentDate">
                            <p>Thu Jan 05 2023 18:58:04 </p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    </body>
    <style>
        #postSummaryBox{
            display: flex; 
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        #postContent{
            padding-top: 30px;
            height: 500px;
            width: 700px;
            display: flex; 
            flex-direction: column;
            align-items: center; 
            background: f2f2f2;
            border-radius: 10px;
            box-shadow: 5px 20px 50px #000;
            font-family: "Papyrus", Fantasy;
        }
        #deleteButtonContainer {
            display: flex;
            justify-content: flex-end;
            padding-left: 450px;
        }
        #deletePostButton {
            text-decoration: none; 
            color:black;
        }
        #createCommentBox {
            height: 150px;
            width: 500px;
            background: f2f2f2;
            border-radius: 10px;
            box-shadow: 5px 20px 50px #000;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            position: fixed;
        }
        #commentTextArea {
            font-size: larger;
            resize: none;
            height: 100px;
            width: 300px;
        }
        #commentCreateButton {
            display: flex;
            justify-content: flex-end;
        }
        #commentCreateButton:hover {
            cursor: pointer;
        }
        #postCommentLayoutContainer {
            display: flex;
            justify-content: center;
        }
        #postCommentLayout {
            /* display: grid;
            grid-gap: 5rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); */
            display: grid;
        }
        #postCommentsBox {
            height: 150px;
            width: 500px;
            background: f2f2f2;
            border-radius: 10px;
            box-shadow: 5px 20px 50px #000;
        }
        /* #postCommentLayout:nth-child(n) {
            background-color: red;
        }
        #postCommentLayout:nth-child(3n) {
            background-color: blue; 
        }
        #postCommentLayout:nth-child(2n) {
            background-color: pink; 
        }    */
        #postCommentsBody {
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: center;
            font-size: smaller;
        }
        #commentFooter {
            display: flex;
            justify-content: space-between;
        }
    </style>
</html>