<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <%- include('./partials/navbar.ejs') %>

        <div id="postSummaryBox">
            <div id="postContent">
                <div id="postSummaryTitle">
                    <h2><%= post.title %></h2>
                </div>
                <br>
                <div id="postSummaryDescription">
                    <h3><%= post.description %></h3>
                </div>
                <br>
                <div id="postSummaryBody">
                    <h4><%= post.body %></h4>
                </div>
                <br>
                <div id="postSummaryDate">
                    <h5><%= post.date.toString().split('G')[0] %></h5>
                    <p id="writtenBy">Written by: <%= post.user.username %></p>
                </div>
                <% console.log(user + " " + post.user._id)%>
                <% if(user == post.user._id) { %>
                <div id="deleteButtonContainer">
                    <form method="post" action="/posts/post/delete/<%= post._id %>">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <% } %>
                <div id="hline"></div>
                <div id="commentBox">
                    <form method="post" action="/comment/add/<%= post._id %> ">
                        <label id="commentTextArea">
                            <textarea
                                id="body"
                                name="body"
                                placeholder="Write a comment"
                                >
                            </textarea> 
                        </label>
                        <div id="commentCreateButton" >
                            <button type="submit" id="commentCreateButton">Create</button>
                        </div> 
                    </form>
                </div>
            </div>   
        </div>
        <div id="postCommentLayoutContainer">
            <% post.comments.map((comment, i) => { %>
                <div id="postCommentLayout">
                    <div id="postCommentsBox">
                        <div id="postCommentsBody">
                            <div id="commentBody">
                                <h3><%= comment.body %> </h3>
                            </div>
                            <div id="commentFooter">
                                <div id="commentDate">
                                    <%= comment.date.toString().split('G')[0] %>
                                </div>
                                <div id="commentWriter">
                                    <%= comment.user.username %>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </body>
    <style>
        #postSummaryBox{
            display: flex; 
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        #postContent{
            padding-top: 30px;
            height: 700px;
            width: 700px;
            display: flex; 
            flex-direction: column;
            align-items: center; 
            background: f2f2f2;
            border-radius: 10px;
            box-shadow: 5px 20px 50px #000;
            font-family: "Papyrus", Fantasy;
        }
        #deletePostButton {
            text-decoration: none; 
            color:black;
        }
        #commentBox {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        #commentTextArea {
            font-size: larger;
            resize: none;
            height: 100px;
            width: 300px;
        }
        #commentCreateButton {
            display: flex;
            justify-content: flex-end;
        }
        #commentCreateButton:hover {
            cursor: pointer;
        }
        #postCommentLayout:nth-child(n) {
            padding-right: 430px;
            display: flex;
            justify-content: flex-end;
        }
        #postCommentLayout:nth-child(2n) {
            padding-left: 430px;
            display: flex;
            justify-content: flex-start;
        }
        #postCommentsBox {
            height: 150px;
            width: 500px;
            background-color: rgb(197, 194, 194);  
            border-radius: 10px;
            box-shadow: 5px 20px 50px #000;
            overflow-y: auto;
        }  
        #commentFooter {
            padding-top: 60px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: space-between;
        }
        #body {
            border-radius: 5px;
            height: 80px;
            width: 300px; 
            resize: none;  
        }
        #hline {
            width:100%; 
            height:1px; 
            background: rgb(0, 0, 0) 
        }
        #postSummaryBody {
            overflow-y: scroll;
        }
    </style>
</html>